/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;

  /* solid background */
  background: rgb(0, 212, 255);

  /* gradient background*/
  background: linear-gradient(45deg, rgba(0, 212, 255, 1) 0%, rgba(11, 3, 45, 1) 100%);

  /* photo background */
  background-image: url(images/bg_image.avif);
  background-size: cover;
  background-position: center;
}

.main {
  max-width: 80%;
  /* max-width: 1200px; */
  margin: 0 auto;
}

h1 {
  font-size: 4vw;
  font-weight: 400;
  text-align: center;
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media screen and (max-width:720px) {
  .cards_item {
    width: 50%;
    padding: 0.5rem;
  }

  .card .card_btn_container{
    width: 100%;
    display: grid;
  }

  .card_content .card_title {
    font-size: 5vw;
  }

  .card_content .card_text {
    font-size: 3vw;
  }

  .card_btn_container .btn {
    font-size: 2.3vw;
  }

}

@media screen and (max-width:1100px) {
  .main {
    max-width: 100%;
  }
}

@media screen and (min-width: 720px) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 1rem;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

img {
  height: 200px;
  width: 100%;
  vertical-align: middle;
  padding: rem 0;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.card_content {
  /* padding: 1rem; */
}

.card_title {
  color: #ffffff;
  font-family: 'Righteous', sans-serif;
  font-size: 2.5vw;
  letter-spacing: 1px;

}

.card_text {
  color: #ffffff;
  font-size: 1.6vw;
  margin-bottom: 1rem;
  font-weight: 400;
}

.card_btn_container {
  display: flex;
  gap: 1rem;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 1vw;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all .3s ease;
  border-radius: 4rem;
  background: transparent;
}

.btn:hover {
  transform: scale(1.1);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;

}

.fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255, 255, 255, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease;
}

.fill:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
  transition: all .3s ease;
}

.made_by {
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}